body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 70px;
}

.intro {
  font-size: 25px;
}

p {
  padding: 10px;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
  /* This lets background colour be clickable */
  display: block;
}

.listHeader {
  background-color: powderblue;
  background-position: center;
  /* background-size: contain; */
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

ul { 
	display: inline-block; 
  text-align: left; 
  padding-left: 0;
  background: powderblue;
  border-radius: 20px;
  padding: 30px;
  }
  
.menuBar {
  /* display: inline-flex;  */
  width: 100%;
  display: inline-flex;
  list-style-type: none;
}

.aboutBtn {
  width: 25%;
  background: powderblue;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.aboutBtn:hover {
  background: paleturquoise;
}

.blogBtn {
  width: 25%;
  background: powderblue;
  text-align: center;
  padding: 10px;
}

.blogBtn:hover {
  background: paleturquoise;
}

.tutBtn {
  width: 25%;
  background: powderblue;
  text-align: center;
  padding: 10px;
}

.tutBtn:hover {
  background: paleturquoise;
}

.wishlBtn {
  width: 25%;
  background: powderblue;
  text-align: center;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.wishlBtn:hover {
  background: paleturquoise;
}

footer {
  display: block;
}

iframe {
  margin: 10px;
  margin-top: 0;
  display: flexbox;
  flex-wrap: wrap;
}

.backtoHome {
  background-color: powderblue;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}